html,body {
	background-color: #800000;
	color: #fff;
}

p {
	font-size: 38px;
}

.btn-pink {
	background-color: #ff0066 !important;
	border: #ff0066 !important;
	font-size: 26px;
}

.girassol {
	width: 70px;
	height: 70px;
}

footer {
	color: #fff !important;
}

footer p {
	font-size: 16px !important;
}

footer i {
	color: #f00;
}

.pedido {
	padding-bottom: 30%;
}

.slide-img {
	filter: brightness(50%);
}
